.signup {
    & .title-form {
        font-size: 28px;
        color: $purple;
        font-weight: 500;
    }
    & .subtitle-form {
        font-size: 20px;
    }
    & .data-title-form {
        font-size: 24px;
        color: #6841BF;
        font-weight: 500;
    }
    & .required {
        color: red;
    }
    & label {
        color: rgb(24, 24, 24);
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        font-weight: 700;
    }
    & input {
        border-color: #50369266;
    }
    & .multiselect__tags {
        border: 1px solid #50369266;
    }
    & .img-bottom {
        margin-bottom: -3rem;
        @media (min-width: 990px) {
            margin-top: -100px;
        }
    }

    & .btn-success {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        border-radius: 500px;
        padding: 17px 48px;
    }
}